# Mac files 
.DS_Store
.DS_Store?

# Jupyter Notebook
.ipynb_checkpoints

# Project files
VQA_Build/data/data_img.h5
VQA_Build/data/data_prepro.h5
VQA_Build/data/data_prepro.json

# Environment
gbvr/*