absl-py==0.10
astor==0.7.1
backports.weakref==1.0rc1
bleach==3.3.0
blis==0.7.4
certifi==2019.3.9
chardet==3.0.4
cymem==2.0.2
gast==0.4.0
grpcio==1.34.0
h5py==3.1.0
html5lib==0.9999999
idna==2.8
jsonschema==2.6.0
Keras==2.0.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.1.2
Markdown==3.3.4
mock==2.0.0
msgpack==0.6.1
msgpack-numpy==0.4.4.2
murmurhash==0.28.0
numpy==1.19.2
opencv-python==4.5.2.54
pbr==5.1.3
plac==0.9.6
preshed==3.0.5
protobuf==3.18.3
PyYAML==5.4.1
requests==2.25.0
scipy==1.6.3
scikit-learn==0.24.2

six==1.15.0
sklearn==0.0
spacy==3.0.6
srsly==2.4.1
tensorboard==2.5.0
tensorflow==2.5.1
tensorflow-estimator==2.5.0
termcolor==1.1.0
thinc==8.0.5
toolz==0.9.0
tqdm==4.61.1
urllib3==1.26.5
wasabi==0.8.2
Werkzeug==2.0.1
